$transition-duration: 0.5s;

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background-color: $primary-col;
	position: fixed;
	z-index: 100;
	width: 100vw;
	transition: transform $transition-duration ease;
	box-shadow: 0 1px 8px rgba($color: #3a3a3a, $alpha: 0.2);

	&.hidden {
		transform: translateY(-100%);
	}

	.name {
		font-size: 1.2rem;
		font-weight: bold;
	}

	#menu-icon {
		filter: invert(1);
		width: 2rem;
	}

	nav {
		display: none;
		gap: 1rem;

		button {
			position: relative;
			display: inline-block;
			font-size: 1.2rem;
			font-weight: bold;
			color: $secondary-col;
			border: none;
			background-color: transparent;

			&:hover {
				background-color: transparent;
				color: $secondary-col;
			}

			&::before {
				content: '';
				position: absolute;
				width: 0;
				height: 1px;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				background-color: $secondary-col;
				transition: width 0.3s;
			}

			&:hover::before {
				width: 100%;
			}
		}
	}
}
