header {
	padding: 2rem;
	background-color: $primary-col;
	position: fixed;
	z-index: 100;
	width: 100vw;
	box-shadow: 0 1px 8px rgba($color: #3a3a3a, $alpha: 0.2);

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 80rem;
		margin-left: auto;
		margin-right: auto;

		.name {
			font-size: 1.2rem;
			font-weight: bold;
		}

		#menu-icon {
			filter: invert(1);
			width: 2rem;
			cursor: pointer;
		}

		nav {
			display: flex;
			flex-direction: column;
			height: 100vh;
			background-color: $primary-col;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			gap: 3rem;
			padding-top: 50%;
			z-index: 100;

			&.open {
				pointer-events: auto;
			}

			#exit-icon {
				position: absolute;
				top: 3%;
				right: 10%;
				z-index: 101;
				width: 4rem;
				cursor: pointer;
			}

			button {
				position: relative;
				display: inline-block;
				font-size: 1.2rem;
				font-weight: bold;
				color: $secondary-col;
				border: none;
				background-color: transparent;

				&:hover {
					background-color: transparent;
					color: $secondary-col;
				}

				&::before {
					content: '';
					position: absolute;
					width: 0;
					height: 1px;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					background-color: $secondary-col;
					transition: width 0.3s;
				}

				&:hover::before {
					width: 100%;
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	header {
		.container {
			nav {
				flex-direction: row;
				height: auto;
				padding-top: 0;
				position: relative;
				width: auto;
			}

			#menu-icon {
				display: none;
			}
		}
	}
}
