@import '../sections/hero';
@import '../sections/about';
@import '../sections/projects';
@import '../sections/contact';

main {
	background-color: $primary-col;
	color: $secondary-col;
	display: flex;
	justify-content: center;

	.sections {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 70%;
		height: 100%;
		gap: 5rem;

		.section-title {
			font-size: 3rem;
			justify-self: center;
			align-self: center;
		}
	}
}
