.projects {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.project {
		display: flex;
		padding: 2rem;

		.info {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.links {
				display: flex;
				gap: 1rem;
			}
		}
	}
}
