.techstack {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	background-color: $primary-col-2;
	padding: 2rem 1rem 2rem 1rem;
	width: 100%;

	.sections {
		display: flex;
		gap: 2rem;
		width: 100%;

		.techstack-section {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;

			.techstack-title {
				font-size: 1.2rem;
			}

			.list {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				place-items: center;
				gap: 0.5rem;

				.item {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 0.5rem;
				}

				.techstack-icon {
					width: 4rem;
					z-index: 99;
				}

				.techstack-item-name {
					font-size: 1.2rem;
				}
			}
		}
	}
}
