* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.4;
	font-family: sans-serif;
}

button {
	border: 1px solid $secondary-col;
	color: $secondary-col;
	background-color: transparent;
	cursor: pointer;
	transition: 0.3s ease;

	&:hover {
		background-color: $secondary-col;
		color: $primary-col;
	}
}
