@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: rgb(15, 15, 15);
		--primary: rgb(242, 242, 242);
		--secondary: rgb(38, 38, 38);
		--accent: rgb(242, 242, 242);
	}
}
